@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap');
html,
body{
  margin: 0;
  padding: 0;
}
.clearfix::after{
  display: block;
  clear: both;
  height: 1px;
  visibility: hidden;
  content: '';
}
button{
  display: block;
  margin: 50px auto;
  font-size: 20px;
  padding: 5px 50px;
  font-family: 'PT-Sans', sans-serif;
  cursor: pointer;
}
nav{
  display: block;
  width: 100%;
  text-align: center;
}
nav ul{
  list-style: none;
  padding: 0;
  width: 100%;
}
nav ul li{
  display: block;
  float: left;
  width: 20% !important;
}
nav ul li a{
  display: block;
  text-decoration: none;
  line-height: 2;
  font-size: 20px;
}
.fail{
  display: block;
  color: red;
  font-size: 20px;
  margin-left: 280px;
}
.good{
  display: block;
  color: green;
  font-size: 20px;
  margin-left: 280px;
}
h1,
h2,
table{
  text-align: center;
}
.secret{
	display: none;
}
.input_form{
  text-align: center;
  margin-bottom: 15px;
}
.input_form input{
  width: 500px;
  text-align: center;
}
.input_form img{
  width: 200px;
  display: block;
  margin: 0 auto;
}
.input_form small{
  display: block;
}
.input_submit,
.desc_submit{
  display: block;
  width: 200px !important;
  margin: 40px auto;
  clear: both;
}
.desc_form{
  text-align: center;
  margin-top: 50px;
}
.desc_form div{
  margin: 0 auto;
}
.desc_form select{
  width: 300px;
}
.desc_form div input{
  width: 300px;
  margin: 15px auto;
}
.add_new_desc_form_btn{
  display: block;
  float: left;
  margin-left: 45%;
  clear: right;
}
.desc_p{
  text-align: center;
  width: 80%;
  margin: 15px auto;
}
h4{
  text-align: center;
}
